body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(98, 99, 102);

}

.util{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
}

.game{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

.restart-btn{
    width: 120px;
    height: 40px;

    background-color: #2d2d2d;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    margin-top: 20px;
}

.restart-btn:hover{
    background-color: #2196F3;
}

#board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 50vw;
    height: 50vh;
    background-color: rgb(57, 54, 54); 
    border-radius: 20px;
    position: relative;
    perspective: 2000px;
    overflow: hidden;   
}

.card{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background-color: white;
}

.card .back{
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotateY(180deg);
    top:0;
    left: 0;
    backface-visibility: hidden;
}


.card .front{
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;
    top:0;
    left: 0;

}

.card.flip {
    transform: rotatey(180deg);
}